/* Global Styles */

html {
  background-color: #282a3a;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

/* Image Component styles */

.profilePhoto {
  display: flex;
  border-radius: 50px;
  margin-right: 6rem;
}

.mobileProfilePhoto {
  width: 16rem;
  height: 20rem;
  margin-right: 0rem;
}

.projectPhoto {
  display: flex;
  border-radius: 50px;
  margin-right: 1.5rem;
  align-self: center;
  border: 2px solid #fff;
}

.mobileProjectPhoto {
  align-self: center;
  border: 2px solid #fff;
  margin-right: 0rem;
}

/* LinkLogo styles */

.buttonPadding {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.linkLogoHover {
  color: #ffaa4c;
}

.linkLogoText {
  color: #fff;
}

.labelMargin {
  margin-top: 0.5rem;
}
