/* Global Styles */

html {
  background-color: #282a3a;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.linkLogoHover {
  color: #ffaa4c;
}

.linkLogoText {
  color: #fff;
}

.labelMargin {
  margin-top: 0.5rem;
}

a {
  text-decoration: none;
}

.profilePhoto {
  display: flex;
  border-radius: 50px;
}

.projectsPageWrapper {
  flex-direction: column;
}

.basePadding {
  padding: 20px;
}

.selfCenter {
  align-self: center;
}

.negativeMarginRight {
  margin-right: -2rem;
}

.whiteOutline {
  border: 5px solid #fff;
}

/* Mobile and Web Specific Styles */

.mobilePageWrapper {
  flex-direction: column-reverse;
}

.mobileProfilePhoto {
  width: 16rem;
  height: 20rem;
  margin-right: 0rem;
}

.webProfilePhoto {
  width: 30rem;
  margin-right: 6rem;
}

.mobileNameText {
  font-size: 50px;
}

.webNameText {
  font-size: 90px;
}

.mobileDescriptionText {
  font-size: 15px;
  width: 90%;
}

.webDescriptionText {
  font-size: 25px;
  padding: 5px;
}
