/* Global Styles */

html {
  background-color: #282a3a;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.linkLogo {
  color: #ffaa4c;
}

a {
  text-decoration: none;
}

.profilePhoto {
  display: flex;
  padding: 10px;
  border-radius: 30px;
}

/* Mobile and Web Specific Styles */

.mobileHomepageRoot {
  flex-direction: column-reverse;
}

.mobileProfilePhoto {
  width: 16rem;
  height: 20rem;
  margin-right: 0rem;
}

.webProfilePhoto {
  width: 30rem;
  margin-right: 8rem;
}

.mobileNameText {
  font-size: 50px;
}

.webNameText {
  font-size: 90px;
}

.mobileCaptchaText {
  font-size: 30px;
  width: 90%;
}

.webCaptchaText {
  width: 25%;
}
